/* @import must be at top of file, otherwise CSS will not work */
@import url("https://hello.myfonts.net/count/4D0179");

@font-face {
  font-family: "BourtonLineBold";
  src: url('fonts/BourtonLineBold/BourtonLineBold.woff2') format('woff2'), url('Webfonts/BourtonLineBold/BourtonLineBold.woff') format('woff');
}

/* Layout */

body {
  padding: 12px;
}

/* Typography */

h1 {
  font-family: "BourtonLineBold";
}